.buttonContainer {
  display: flex;
  gap: 12px;
  margin-top: 15px;
}

.categoryButton {
  padding: 10px 16px;
  border-radius: 10px;
  background: #eee;
  border: none;
  cursor: pointer;
}

.categoryButton:hover {
  background: #ddd;
}

.active {
  background: #7b61ff;
  color: white;
}
